name: Auto-Comment on PR
on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  pull-requests: write

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - name: Post Comment
        uses: actions/github-script@v8
        with:
          script: |
            //
            // Preamble stuff
            // Probably no need to touch
            //

            const marker = "our-nice-little-helper-bot-983247854" // used for comment updates
            const { pull_request: pr } = context.payload;
            const { issues, pulls } = github.rest;
            const auth = { owner: context.repo.owner, repo: context.repo.repo };
            const body = [
                `<!--${marker}--><p>Thanks for opening this PR! We'll review it shortly.</p>`
            ];

            console.log(context.payload);

            //
            // Message body stuff
            // Push string to body array to add new sections
            //

            const newFace = pr.author_association === "FIRST_TIME_CONTRIBUTOR";
            const claSigned = false; // todo maybe probably
            const updated = (await github.paginate(pulls.listFiles, {
                ...auth, pull_number: context.issue.number,
            }));
            const blockers = [];
            const quibbles = [];

            // stuff for first time contributors
            if (newFace || true)
            {
                const temp = [];

                temp.push(
                    "<li>Welcome the community and thank you for your contribution! Please take a moment to familiarize yourself with the resources available in our README file.</li>"
                );

                if (!updated.some(file => file.filename === 'CONTRIBUTORS'))
                {
                    temp.push("<li>Please take a moment to add your name to the bottom of the CONTRIBUTORS file!</li>");
                }

                if (!claSigned)
                {
                    temp.push("<li>Please ensure the CLA is signed. We cannot accept code before this is done.</li>");
                }

                if (temp.length > 0)
                {
                    body.push(
                        "<h4>Looks like it's your first time contributing!</h4>",
                        "<ul>", ...temp, "</ul>",
                    );
                }
            }

            if (!claSigned)
            {
                blockers.push("<li>CLA must be signed!</li>");
            }

            if (!pr.maintainer_can_modify)
            {
                quibbles.push(
                    `<li>While it is not required, allowing edits by maintainers will speed up the review process. We require PRs to be up-to-date in order to merge them, and this permission allows us to quickly rebase the PR in order to merge it.</li>`,
                );
            }

            // notify about subtree edits in quibbles section
            const subtrees = [ "libraries/Translation/", "libraries/ZMusic/", "libraries/ZWidget/" ];
            for (const subtree of subtrees)
            {
                if (updated.some(file => file.filename.startsWith(subtree)))
                {
                    quibbles.push(
                        `<li>Head's up, <code>${subtree}</code> is a subtree. Please ensure you're Pushing these changes upstream</li>`,
                    );
                }
            }

            if (blockers.length > 0)
            {
                body.push(
                    "<h4>Here are some issues, that must be fixed.</h4>",
                    "<ul>", ...blockers, "</ul>",
                );
            }

            if (quibbles.length > 0)
            {
                body.push(
                    "<h4>Here are some minor issues, that might need fixing.</h4>",
                    "<ul>", ...quibbles, "</ul>",
                );
            }

            //
            // Create / Update comment stuff
            // Probably no need to touch
            //

            const data = { ...auth, body: body.join("\n") };

            const { data: comments } = await issues.listComments({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
            });
            const oldComment = comments.find(c => c.body.includes(marker));

            if (oldComment) {
                await issues.updateComment({
                    ...data, comment_id: oldComment.id
                });
            } else {
                await issues.createComment({
                    ...data, issue_number: context.issue.number
                });
            }
